[submodule "base16-builder-ruby"]
	path = base16-builder-ruby
	url = https://github.com/obahareth/base16-builder-ruby.git
[submodule "Fira"]
	path = Fira
	url = https://github.com/mozilla/Fira.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/tmux-navigator"]
	path = vim/bundle/tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/bundle/slim"]
	path = vim/bundle/slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/rbenv/ruby-build.git
